<a href="https://colab.research.google.com/github/shaluKumari822/dnaCryptography/blob/main/Encryption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Slide : [DNA Cryptography]( https://docs.google.com/presentation/d/1319eyOmAvIQanuhbbkTzjXUEECZyw2Ibb5edCSKugfI/edit?usp=sharing)

In [ ]:
# linking the CSVs file with drive
from google.colab import 
drive.mount('/content/drive')
import pandas as pd
import numpy as np

Mounted at /content/drive

In [ ]:
# linking the myTable.csv file with drive and putting into dictionary myTable and protein sequence as key and Symbol as value
df = pd.read_csv('/content/drive/MyDrive/research/myTable.csv')
df
myTable = dict([(a,[i]) for a,i in zip(df.protein_sequence,df.Symbol)])
print(myTable)

{'GCT': ['1'], 'GCC': ['2'], 'GCA': ['3'], 'GCG': ['4'], 'TAA': ['5'], 'TAG': ['6'], 'TGT': ['7'], 'TGC': ['8'], 'GAT': ['9'], 'GAC': ['10'], 'GAA': ['11'], 'GAG': ['12'], 'TTT': ['13'], 'TTC': ['14'], 'GGT': ['15'], 'GGC': ['16'], 'GGA': ['17'], 'GGG': ['18'], 'CAT': ['19'], 'CAC': ['20'], 'ATT': ['21'], 'ATC': ['22'], 'ATA': ['23'], 'TGA': ['24'], 'AAA': ['25'], 'AAG': ['26'], 'CTT': ['27'], 'CTC': ['28'], 'CTA': ['29'], 'CTG': ['30'], 'ATG': ['31'], 'AAT': ['32'], 'AAC': ['33'], 'TTA': ['34'], 'TTG': ['35'], 'CCT': ['36'], 'CCC': ['37'], 'CCA': ['38'], 'CCG': ['39'], 'CAA': ['40'], 'CAG': ['41'], 'CGT': ['42'], 'CGC': ['43'], 'CGA': ['44'], 'CGG': ['45'], 'TCT': ['46'], 'TCC': ['47'], 'TCA': ['48'], 'TCG': ['49'], 'ACT': ['50'], 'ACC': ['51'], 'ACA': ['52'], 'ACG': ['53'], 'AGA': ['54'], 'AGG': ['55'], 'GTT': ['56'], 'GTC': ['57'], 'GTA': ['58'], 'GTG': ['59'], 'TGG': ['60'], 'AGT': ['61?'], 'AGC': ['62'], 'TAT': ['63'], 'TAC': ['64']}

In [ ]:
# linking the dnaSequence.csv file with drive and putting into dictionary myTable and protein sequence as key and Symbol as value
df1 = pd.read_csv('/content/drive/MyDrive/research/dnaSequence.csv')
df1
d= dict([(i,[a]) for i, a in zip(df1.Index, df1.dna_Sequence)])
print(d)

{'A': ['TAAT'], 'B': ['TAAC'], 'C': ['TAAG'], 'D': ['TATA'], 'E': ['TATT'], 'F': ['TATC'], 'G': ['TATG'], 'H': ['TACA'], 'I': ['TACT'], 'J': ['TACC'], 'K': ['TACG'], 'L': ['TAGA'], 'M': ['TAGT'], 'N': ['TAGC'], 'O': ['TAGG'], 'P': ['TTAA'], 'Q': ['TTAT'], 'R': ['TTAC'], 'S': ['TTAG'], 'T': ['TTTA'], 'U': ['TTTT'], 'V': ['TTTC'], 'W': ['TTTG'], 'X': ['TTCA'], 'Y': ['TTCT'], 'Z': ['TTCC'], '?': ['AGGG'], '%': ['ACTT'], '&': ['ACTC'], '(': ['ACCA'], ')': ['ACCT'], ',': ['ACGA'], '.': ['ACGC'], 'a': ['TCAT'], 'b': ['TCAC'], 'c': ['TCAG'], 'd': ['TCTA'], 'e': ['TCTT'], 'f': ['TCTC'], 'g': ['TCTG'], 'h': ['TCCA'], 'i': ['TCCT'], 'j': ['TCCC'], 'k': ['TCCG'], 'l': ['TCGA'], 'm': ['TCGT'], 'n': ['TCGC'], 'o': ['TCGG'], 'p': ['TGAA'], 'q': ['TGAT'], 'r': ['TGAC'], 's': ['TGAG'], 't': ['TGTA'], 'u': ['TGTT'], 'v': ['TGTC'], 'w': ['TGTG'], 'x': ['TGCA'], 'y': ['TGCT'], 'z': ['TGCC'], '0': ['AGAA'], '1': ['AGAT'], '2': ['AGAC'], '3': ['AGAG'], '4': ['AGTA'], '5': ['AGTT'], '6': ['AGTC'], '7': ['AGTG'], '8': ['AGCA'], '9': ['AGCT']}

In [ ]:
#it will gies the information about myTable.csv file
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Symbol            64 non-null     object
 1   protein_sequence  64 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB

In [ ]:
#it will gies the information about myTable.csv file
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Index         71 non-null     object
 1   dna_Sequence  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [ ]:
# Driver code
plain_text = input('Enter the Plain text : ')

# To store the indexes of space 
spacesInText = []
for i, char in enumerate(plain_text):
  if char == " ":
    spacesInText.append(i)

key = {}
key['length'] = len(plain_text)
key['spacePositions'] = spacesInText

Enter the Plain text : xsjdhxb xhasahbxj hj

{'length': 20, 'spacePositions': [7, 17]}

In [ ]:
plain_text = plain_text.replace(" ", "") #removing spaces from input text

textInput = [char for char in plain_text] # creating list of characters in input text
print(textInput)

# getting dna sequence
dnaSequence = [ d[char] for char in textInput] 
print(dnaSequence)

In [ ]:
updated_list = []
# repalceing c-g, a-t and vice versa
for obj in dnaSequence:
    for string in obj:
        updatedStr = []
        for ch in string: # sting = TCGT
          if ch == 'C' :
            ch = 'G'
          elif ch == 'G' :
            ch = 'C'
          elif ch == 'T' :
            ch = 'A'
          elif ch == 'A' :
            ch = 'T'
          updatedStr.append(ch) 
          #['a', 'b','c','d']
    updated_list.append(["".join(updatedStr)])

print("updated_list: ", updated_list)
print("\n")

updated_list:  [['AGGT'], ['AGAA'], ['ACGA'], ['AGGT'], ['AGGA']]

In [ ]:
#Swapper function is used here to divide the sequence into two halves and interchange the first half with second one to create a new sequence-
def swapper(lst):
    mid = int(len(lst)/2)
    if(len(lst) % 2 == 0):
        for index in range(mid):
            temp = lst[index]
            lst[index] = lst[mid + index]
            lst[mid + index] = temp
    else:   
        for index in range(mid):
            temp = lst[index]
            lst[index] = lst[mid + index + 1]
            lst[mid + index + 1] = temp
    print(lst)
    # update list after swapping
    updated_list = lst

print(" After Swapping : ")
swapper(updated_list)

 After Swapping
[['AGGT'], ['AGAA'], ['ACGA'], ['AGGT'], ['AGGA']]

In [ ]:
charList = []

for obj in updated_list:
  # charList.append(list(obj[0]))
  charList += list(obj[0]) 

print("Dividing in Single Character")
print(charList)

Dividing in Single Character
['A', 'G', 'G', 'T', 'A', 'G', 'A', 'A', 'A', 'C', 'G', 'A', 'A', 'G', 'G', 'T', 'A', 'G', 'G', 'A']

In [ ]:
dna3Char = []
#storing the value in reverse order
strCharList = "".join(charList)
# getting length of string
strLen = len(strCharList);
# ‘AC’ or ‘A’(if required) is added to make the string dividible by 3
if(strLen % 3 != 0):
  if (strLen % 3 != 1):
    strCharList = 'A' + strCharList
  elif (strLen % 3 != 2):
    strCharList = 'AC' + strCharList

#Stores the array of string  
equalStr = [];    
for i in range(0, strLen, 3):  
    #Dividing string in n equal part using substring()  
    part = strCharList[ i : i+3];  
    dna3Char.append(part);  

print("DNA sequence in 3-characters format: ", dna3Char);  

# getting dna sequence
cipher = [ myTable[char] for char in dna3Char] 
print("".join(cipher))

DNA sequence in 3-characters format:  ['AAG', 'GTA', 'GAA', 'ACG', 'AAG', 'GTA', 'GGA']
[['26'], ['58'], ['11'], ['53'], ['26'], ['58'], ['17']]

# Decryption